<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create post</title>
</head>
<body>
  <div class="post">
    <form method="POST" action="/posts" class="createPost">
       <h3> Name:<input placeholder="username" name="name" id="nameinput"></h3> 
        <br>
        <h3>Content: <input placeholder="content" name="content" id="contentinput"> </input></h3>
        <br>
        <button class="btn"> Submit</button>
      </form> 
     </div>
      
</body>
</html>