<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>
      <form method="POST" action="/posts">
        <input placeholder="username" name="name">
        <br>
        <textarea placeholder="content" name="content"> </textarea>
        <br>
        <button>Submit</button>
      </form>  
</body>
</html>